<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataCollector.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DataCollector.My.MySettings>
            <setting name="OPCServer" serializeAs="String">
                <value />
            </setting>
            <setting name="LogTimeHR" serializeAs="String">
                <value />
            </setting>
            <setting name="TagList" serializeAs="String">
                <value />
            </setting>
            <setting name="PollTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CSVPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogTimeMin" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLPass" serializeAs="String">
                <value />
            </setting>
            <setting name="Col1Size" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Col2Size" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Col3Size" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Col4Size" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Col5Size" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Col6Size" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Col7Size" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Col8Size" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Col9Size" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Col10Size" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Col11Size" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Col12Size" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="MoveCSV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CSVDestination" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Col13Size" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Col14Size" serializeAs="String">
                <value>3000</value>
            </setting>
        </DataCollector.My.MySettings>
    </userSettings>
</configuration>